<footer>
    <div class="footer">
        <div class="icon-logo" style="display: flex; justify-content: center;">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    <div class="row">
        <ul>
            <a href="#">Contact us</a>
            <a href="#">Our Services</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms - Conditions</a>
            <a href="#">Career</a>
        </ul>
    </div>
        <div class="row">
            <p style="text-align: center;">ZLegion Copyright © 2025 ZLegion - All rights reserved || Designed By: Mahesh </p>
        </div>
    </div>
</footer>