
<main>
    <div class="wrapper">
    <form method="POST" action="/register/registerSuccess">
        <h2>Register</h2>
        <div class="input-field">
        <input type="text" name="username" required>
        <label>Enter your email</label>
        </div>

        <div class="input-field">
        <input type="password" name="password" required>
        <label>Enter your password</label>
        </div>
{{!-- 
        <div class="input-field">
        <input type="password" name="password" required>
        <label>Enter your password again</label>
        </div> --}}

        <div class="forget">
            <label for="remember">
                <input type="checkbox" id="remember">   
                <p style="margin: 0px 0px 0px 10px;">Check to confirm you're not a robot</p>
            </label>
        </div>
        <button type="submit">Register</button>
        <div class="register">
        </div>
    </form>
    </div>
</main>
<script>

    
</script>